@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-frank-ruhl-libre: 'Frank Ruhl Libre', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'SpritzAndDelicious';
  src: url('/fonts/SpritzAndDelicious.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MonoLisa';
  src: url('/fonts/MonoLisaRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MonoLisaBold';
  src: url('/fonts/MonoLisaBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}


/* Presentational styles */
/* body {
  font-family: system-ui, sans;
  font-size: 3.5rem;
  font-weight: 800;
} */

/* body {
  font-family: var(--font-montserrat);
} */

main {
  display: grid;
  height: 100vh;
  /* place-items: center; */
}

.layout {
  margin-left: 6rem /* 96px */;
  padding-left: 3rem /* 48px */;
  padding-right: 3rem /* 48px */;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
