@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


/* Presentational styles */
body {
  font-family: system-ui, sans;
  font-size: 3.5rem;
  font-weight: 800;
}

main {
  display: grid;
  height: 100vh;
  /* place-items: center; */
}

.layout {
  margin-left: 6rem /* 96px */;
  padding-left: 3rem /* 48px */;
  padding-right: 3rem /* 48px */;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
